<!DOCTYPE html>
<html>
  <head>
    <title>main page</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <a href="/users/register">
      <button>Register</button>
    </a>
    <a href="/users/login">
      <button>Login</button>
    </a>
    <a href="/admins">
      <button>admin</button>
    </a>
  </body>
</html>
