<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <button>
     <a href="/users/register">Register</a>
   </button>
   <button>
    <a href="/users/login">Login</a>
  </button>
  </body>
</html>
