<% include partials/header %>
    <section class="form-section">
       
    <form class="form" action="/articles/" method="POST">
        <h2>Add Article</h2>
    <input type="text" placeholder="Title" name="title">
    <textarea name="description" placeholder="Description" cols="30" rows="10"></textarea>
    <input type="text" placeholder="Author" name="author">
    <input class="submit" type="submit">
    </form>
</section>
    
<% include partials/footer %>