<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="flex-center">
        <h1 id="main-head"  class="logo text-color">  Blog app</h1>
    </header>
<section class="home">
    
        <button class="btn text-color"><a href="/users/register">Register</a></button>
   

   
        <button class="btn text-color"> <a href="/users/login">Login</a></button>
   
</section>

</body>
</html>