<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/register" method="POST">
<h1>Register</h1>
        <%if(error){%>
            <p><%=error%></p>
            <%}%>
        <input type="text" name="firstName" placeholder="FirstName">
        <input type="text" name="lastName" placeholder="LastName">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="city" placeholder="city">
        <input type="submit">
    </form>
</body>
</html>