<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/register" method="POST">
    <input placeholder="Name" type="text" name="name">
    <input placeholder="Email" type="text" name="email">
    <input placeholder="Password" type="password" name="password">
    <input placeholder="Age" type="number" name="age">
    <input placeholder="Phone" type="number" name="phone">
    <input type="submit">
    </form>
</body>
</html>